Repository vauchi/desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

Path conditions:
  build:frontend-dist: any of: ui/**/*, src-tauri/**/*, .gitlab-ci.yml
  lint:rust-format: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, .gitlab-ci.yml
  lint:rust-clippy: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, ui/**/*, .gitlab-ci.yml
  lint:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:rust: any of: src-tauri/**/*, ui/**/*, .gitlab-ci.yml
  test:frontend: any of: ui/**/*, .gitlab-ci.yml
  security:audit: any of: src-tauri/Cargo.toml, src-tauri/Cargo.lock, .gitlab-ci.yml
  security:npm-audit: any of: ui/package.json, ui/package-lock.json, .gitlab-ci.yml

feat: Display aha moments in Desktop after key actions
  ui/src/pages/Exchange.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/Setup.tsx
  ui/src/services/ahaService.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat: Add field validation Tauri commands
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/validation.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: Display field validation badges in Desktop contact detail
  ui/src/pages/Contacts.tsx
  ui/src/services/validationService.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

style: Format validation test code
  src-tauri/src/commands/validation.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

chore: Point vauchi-core dependency at feature branch
  src-tauri/Cargo.toml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

test: Add mock handlers for aha moment and validation commands
  ui/e2e/fixtures/tauri-mock.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

chore: Revert vauchi-core dependency to main branch
  src-tauri/Cargo.toml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

feat: Add upstream compatibility verification job
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

feat: Add recovery trust contacts to desktop
  src-tauri/src/commands/contacts.rs
  src-tauri/src/commands/recovery.rs
  src-tauri/src/lib.rs
  ui/src/pages/Contacts.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat: Load i18n locale files from bundled resources
  src-tauri/resources/locales/de.json
  src-tauri/resources/locales/en.json
  src-tauri/resources/locales/es.json
  src-tauri/resources/locales/fr.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Update locale files with restored FAQ/aha keys (754 keys)
  src-tauri/resources/locales/de.json
  src-tauri/resources/locales/en.json
  src-tauri/resources/locales/es.json
  src-tauri/resources/locales/fr.json
Due: build:frontend-dist, test:rust

fix: Fix formatting and point to core feature branch for CI
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

fix: Revert vauchi-core dep to main (core!87 merged)
  src-tauri/Cargo.toml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

fix: Initialize i18n in desktop aha test for CI
  src-tauri/src/commands/aha.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

refactor: Remove LegacyExchangeMessage handling, fix backup KDF comment
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

style: Apply cargo fmt
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: Wire ExchangeSession state machine into desktop exchange
  src-tauri/src/commands/devices.rs
  src-tauri/src/commands/exchange.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Suppress deprecated API warning in device link
  src-tauri/src/commands/devices.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Make DeviceLinkResponder mutable for create_request()
  src-tauri/src/commands/devices.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

docs: Update SUPPORTERS.md link to docs.vauchi.app
  README.md
Due: none

fix(vrt): Update stale desktop snapshot baselines
  ui/e2e/tests/visual.spec.ts-snapshots/backup-export-dialog-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-strong-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-weak-visual-chromium-darwin.png
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

fix(vrt): Update stale Linux VRT baselines from CI artifacts
  ui/e2e/tests/visual.spec.ts-snapshots/backup-export-dialog-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-strong-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-weak-visual-chromium-linux.png
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

fix: Use per-install backup password + authenticated relay handshake (P0 items #27, #50)
  src-tauri/src/commands/devices.rs
  src-tauri/src/commands/sync.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Resolve borrow conflict in backup_password + remove unused client_id + fmt
  src-tauri/src/commands/sync.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: Add execute-deletion and panic-shred Tauri commands
  src-tauri/src/commands/gdpr.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Apply cargo fmt to gdpr commands
  src-tauri/src/commands/gdpr.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

refactor: Update exchange commands for mutual QR flow
  src-tauri/src/commands/exchange.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Use core's secure card update pipeline
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Migrate device link complete to new confirmation API
  src-tauri/src/commands/devices.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

refactor: Use core's consolidated device sync orchestration
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat(desktop): add Escape key support to all dialogs
  ui/src/pages/Contacts.tsx
  ui/src/pages/Devices.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat(desktop): enhance button accessibility with aria attributes
  ui/src/pages/Exchange.tsx
  ui/src/pages/Help.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat(desktop): add hidden contacts toggle with keyboard shortcut
  ui/src/pages/Contacts.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

fix(e2e): Rewrite Playwright tests with real selectors and Tauri mock injection
  ui/e2e/fixtures/tauri-mock.ts
  ui/e2e/fixtures/test-helpers.ts
  ui/e2e/tests/accessibility.spec.ts
  ui/e2e/tests/app.spec.ts
  ui/e2e/tests/visual.spec.ts-snapshots/backup-export-dialog-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-dark-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-de-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/exchange-page-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/exchange-page-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-dark-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-de-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-empty-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-with-fields-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-with-fields-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-strong-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-weak-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-dark-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-de-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-dark-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-de-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-visual-chromium-darwin.png
  ui/yarn.lock
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat: Add duress PIN auth commands and Security settings UI
  src-tauri/src/commands/auth.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat: Add Emergency Shred button to Privacy settings
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend
