Repository vauchi/desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: security:audit, security:npm-audit

Path conditions:
  security:audit: any of: src-tauri/Cargo.toml, src-tauri/Cargo.lock
  security:npm-audit: any of: ui/package.json, ui/package-lock.json

feat(ci): Add license scanning and fix security job configuration
  .gitlab-ci.yml
Due: none

feat(desktop): Wire ContentManager for remote content updates
  src-tauri/Cargo.toml
  src-tauri/src/commands/content.rs
  src-tauri/src/commands/sync.rs
  src-tauri/src/state.rs
  src-tauri/src/test_server.rs
Due: security:audit

feat(desktop): Add theme, i18n, and help support
  src-tauri/src/commands/help.rs
  src-tauri/src/commands/i18n.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/theme.rs
  src-tauri/src/lib.rs
  ui/src/App.tsx
  ui/src/pages/Help.tsx
  ui/src/pages/Settings.tsx
  ui/src/services/helpService.ts
  ui/src/services/i18nService.ts
  ui/src/services/themeService.ts
  ui/src/styles/app.css
Due: none

ci: Update CI/CD pipeline configuration
  .gitlab-ci.yml
Due: none

fix: Use git dependency for vauchi-core
  src-tauri/Cargo.toml
Due: security:audit

fix: Remove .cargo/config.toml from tracking
  .cargo/config.toml
  .gitignore
Due: none

fix(ci): Add Tauri system dependencies for Linux builds
  .gitlab-ci.yml
Due: none

fix(ci): Remove allow_failure from all jobs
  .gitlab-ci.yml
Due: none

fix(ci): Build frontend before Rust jobs
  .gitlab-ci.yml
Due: none

fix(ci): Fix double cd ui bug in CI script commands
  .gitlab-ci.yml
Due: none

perf(ci): Add change-based rules, timeouts, and optimizations
  .gitlab-ci.yml
Due: none

fix(ci): Add local template definitions for missing templates
  .gitlab-ci.yml
Due: none

chore(ci): Remove local template definitions
  .gitlab-ci.yml
Due: none

feat(ci): Add shared REUSE compliance check
  .gitlab-ci.yml
Due: none

refactor: Add compare_to and needs:[] for CI pipeline improvements
  .gitlab-ci.yml
Due: none

feat: Add visual regression testing with Playwright
  .gitlab-ci.yml
  ui/e2e/tests/visual.spec.ts
  ui/package.json
  ui/playwright.config.ts
Due: security:npm-audit

fix: Update lockfiles for @playwright/test dependency
  ui/package-lock.json
  ui/yarn.lock
Due: security:npm-audit

fix: Handle LabelChange sync variant and fix CI test jobs
  .gitlab-ci.yml
  src-tauri/src/commands/sync.rs
Due: none

fix: Correct license in Cargo.toml from MIT to GPL-3.0-or-later
  src-tauri/Cargo.toml
Due: security:audit

docs: Add funding section to README
  README.md
Due: none

feat: Wire i18n into all pages, add theme/locale VRT and a11y tests
  src-tauri/src/commands/i18n.rs
  src-tauri/src/lib.rs
  ui/e2e/tests/accessibility.spec.ts
  ui/e2e/tests/visual.spec.ts
  ui/package.json
  ui/src/App.tsx
  ui/src/pages/Contacts.tsx
  ui/src/pages/Devices.tsx
  ui/src/pages/Exchange.tsx
  ui/src/pages/Help.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/Recovery.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/Setup.tsx
  ui/src/services/i18nService.ts
Due: security:npm-audit

fix: Update lockfiles for @axe-core/playwright dependency
  ui/package-lock.json
  ui/yarn.lock
Due: security:npm-audit

fix: Point vauchi-core dependency to feature branch for get_all_strings
  src-tauri/Cargo.toml
Due: security:audit

fix: Use commit rev for vauchi-core dependency in CI
  src-tauri/Cargo.toml
Due: security:audit

fix: Revert vauchi-core dependency to branch = "main"
  src-tauri/Cargo.toml
Due: security:audit

fix: Make desktop VRT tests runnable and generate baseline snapshots
  ui/e2e/fixtures/tauri-mock.ts
  ui/e2e/tests/visual.spec.ts
  ui/e2e/tests/visual.spec.ts-snapshots/backup-export-dialog-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-dark-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-de-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/exchange-page-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-dark-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-de-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-empty-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-with-fields-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-strong-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-weak-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-dark-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-de-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-dark-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-de-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-visual-chromium-darwin.png
  ui/playwright.config.ts
Due: none

refactor: Add pull-only cache policy to security:npm-audit
  .gitlab-ci.yml
Due: none

chore: Temporarily generate Linux VRT baselines in CI
  .gitlab-ci.yml
Due: none

feat: Add GDPR privacy section to desktop app
  src-tauri/src/commands/gdpr.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  ui/src/pages/Settings.tsx
Due: none

feat: Add contacts pagination and backend search
  src-tauri/src/commands/contacts.rs
  src-tauri/src/lib.rs
  ui/src/pages/Contacts.tsx
Due: none

chore: Add Linux VRT baselines and revert --update-snapshots
  .gitlab-ci.yml
  ui/e2e/tests/visual.spec.ts-snapshots/backup-export-dialog-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-dark-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-de-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/exchange-page-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-dark-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-de-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-empty-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-with-fields-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-strong-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/password-strength-weak-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-dark-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-de-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-dark-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-de-visual-chromium-linux.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-visual-chromium-linux.png
Due: none

fix: Enable Content Security Policy in Tauri config
  src-tauri/tauri.conf.json
Due: none

fix: Replace hardcoded fallback key with per-installation random key
  src-tauri/Cargo.toml
  src-tauri/src/state.rs
Due: security:audit

fix: Exclude secure-storage from CI test/clippy on Linux
  .gitlab-ci.yml
Due: none

fix: Remove unnecessary mut on DeletionManager
  src-tauri/src/commands/gdpr.rs
Due: none

fix: Replace hardcoded fallback encryption key with derived key
  src-tauri/src/state.rs
Due: none

chore: Add cargo-deny configuration and CI job
  .gitlab-ci.yml
  deny.toml
Due: none

feat: Add locale-aware FAQ and aha moment Tauri commands
  src-tauri/src/commands/aha.rs
  src-tauri/src/commands/help.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
Due: none

feat: Wire Help page to use localized FAQ content
  ui/src/pages/Help.tsx
  ui/src/services/helpService.ts
Due: none
