Repository vauchi/desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

build:frontend-dist:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: lint
  needs: []
  ...

lint:html:
  stage: lint
  tags:
  - self-hosted
  - node
  needs: []
  script:
  - htmlhint ui/index.html

lint:css:
  stage: lint
  tags:
  - self-hosted
  - node
  needs: []
  script:
  - cd ui && npm ci --prefer-offline && npm run lint:css

lint:rust-format:
  stage: lint
  needs: []
  script:
  - cd src-tauri && cargo fmt --all -- --check

lint:rust-clippy:
  cache:
    key:
      files:
      - src-tauri/Cargo.lock
      prefix: rust-${CI_JOB_NAME}
    fallback_keys:
    - rust-${CI_JOB_NAME}-${CI_DEFAULT_BRANCH}
    - rust-${CI_JOB_NAME}
    paths:
    - .cargo/bin/
    - .cargo/registry/index/
    - .cargo/registry/cache/
    - src-tauri/target/
    policy: pull
  stage: lint
  ...

lint:frontend:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
    policy: pull
  ...

test:rust:
  cache:
    key:
      files:
      - src-tauri/Cargo.lock
      prefix: rust-${CI_JOB_NAME}
    fallback_keys:
    - rust-${CI_JOB_NAME}-${CI_DEFAULT_BRANCH}
    - rust-${CI_JOB_NAME}
    paths:
    - .cargo/bin/
    - .cargo/registry/index/
    - .cargo/registry/cache/
    - src-tauri/target/
    policy: pull-push
  ...

test:frontend:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: test
  needs:
  ...

test:visual-regression:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: test
  needs:
  ...

test:accessibility:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: test
  needs:
  ...

chore: Add gitignore entries for Playwright test artifacts
  .gitignore
Due: none

chore: Retrigger CI after rebase
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Remove ws: from CSP connect-src (SP-9 security hardening)
  src-tauri/tauri.conf.json
Due: build:frontend-dist, test:rust

chore: Add tray and app icons
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/icon.png
  src-tauri/icons/tray-icon-16.png
  src-tauri/icons/tray-icon-22.png
  src-tauri/icons/tray-icon-white.png
  src-tauri/icons/tray-icon.png
  src-tauri/icons/tray-icon@2x.png
Due: build:frontend-dist, test:rust

feat: Add system tray icon with close-to-tray behaviour
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/tray.rs
  src-tauri/tauri.conf.json
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

chore: Fix pre-existing prettier formatting in Devices.tsx
  ui/src/pages/Devices.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: Add follow-system toggle and visual theme picker
  src-tauri/src/commands/theme.rs
  ui/src/pages/Settings.tsx
  ui/src/services/themeService.ts
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix: Clone themes repo in CI for include_bytes! resolution
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: Detect non-functional OS keychain and fall back to file storage
  src-tauri/Cargo.lock
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

fix: Update VRT test colors to Catppuccin Mocha
  ui/e2e/tests/visual.spec.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

docs: document contact data sanitization audit — SolidJS safe by default
  docs/investigations/sp9-contact-data-sanitization-audit.md
Due: none

chore: add CI check asserting devtools feature absent from Cargo.toml
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

feat: add ValidationBadge component to contact detail fields
  ui/src/components/ValidationBadge.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

refactor: embed ValidationBadge in contact detail field rendering
  ui/src/pages/Contacts.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix(ci): use GIT_STRATEGY: clone for node jobs to prevent git corruption
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: Update Cargo.lock
  src-tauri/Cargo.lock
Due: build:frontend-dist, test:rust, security:audit

feat: add Support Us page accessible from settings
  ui/src/App.tsx
  ui/src/pages/Help.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/SupportUs.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: add release profile with strip=true and size optimizations
  src-tauri/Cargo.toml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

feat: add macOS .icns icon, update PNG icons from SVG source
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.png
Due: build:frontend-dist, test:rust

fix: add .icns to REUSE binary annotations
  REUSE.toml
Due: none

chore: update CLAUDE.md commands to use just recipes
  CLAUDE.md
Due: none

chore: fix pre-existing prettier formatting in Help.tsx and Settings.tsx
  ui/src/pages/Help.tsx
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: add .gitlab-ci-local/ to .gitignore
  .gitignore
Due: none

chore: trigger MR pipeline
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: add assertion to test_implements_std_error_trait
  src-tauri/src/error.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

chore: add .claude/ to .gitignore
  .gitignore
Due: none

feat: wire ProximityProof into desktop device linking
  src-tauri/src/commands/devices.rs
  ui/src/pages/Devices.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: update Cargo.lock to core 0.2.0
  src-tauri/Cargo.lock
Due: build:frontend-dist, test:rust, security:audit

test: add delivery Tauri commands and contract tests (SP-12b)
  src-tauri/src/commands/delivery.rs
  src-tauri/tests/contract_core_api_tests.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: handle GetDirections variant and register delivery commands (SP-12b)
  src-tauri/Cargo.lock
  src-tauri/src/commands/actions.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

feat: add delivery status page to desktop UI (SP-12b)
  ui/src/App.tsx
  ui/src/pages/Delivery.tsx
  ui/src/pages/Settings.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix: remove unused filtered variable in Delivery.tsx
  ui/src/pages/Delivery.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

refactor: use Contact::fingerprint() API instead of reimplemented formatting
  src-tauri/src/commands/contacts.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: add context menu with secondary actions for contact fields (SP-12a)
  src-tauri/src/commands/actions.rs
  src-tauri/src/lib.rs
  ui/src/pages/Contacts.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

Path conditions:
  build:frontend-dist: any of: ui/**/*, src-tauri/**/*, .gitlab-ci.yml
  lint:html: any of: ui/index.html, .gitlab-ci.yml
  lint:css: any of: ui/src/**/*.css, .gitlab-ci.yml
  lint:rust-format: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, .gitlab-ci.yml
  lint:rust-clippy: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, ui/**/*, .gitlab-ci.yml
  lint:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:rust: any of: src-tauri/**/*, ui/**/*, .gitlab-ci.yml
  test:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:visual-regression: any of: ui/**/*, .gitlab-ci.yml
  test:accessibility: any of: ui/**/*, .gitlab-ci.yml
  security:audit: any of: src-tauri/Cargo.toml, src-tauri/Cargo.lock, .gitlab-ci.yml
  security:npm-audit: any of: ui/package.json, ui/package-lock.json, .gitlab-ci.yml
