Repository vauchi/desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

build:frontend-dist:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - ui/node_modules/
  image: node:20
  timeout: 10 minutes
  stage: lint
  script:
  - cd ui && npm ci && npm run build
  artifacts:
    paths:
    - ui/dist/
    expire_in: 1 hour

lint:rust-format:
  timeout: 10 minutes
  stage: lint
  cache:
    policy: pull
  script:
  - rustup component add rustfmt
  - cd src-tauri && cargo fmt --all -- --check

lint:rust-clippy:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq libgtk-3-dev libwebkit2gtk-4.1-dev libayatana-appindicator3-dev librsvg2-dev
  timeout: 30 minutes
  stage: lint
  needs:
  - build:frontend-dist
  cache:
    policy: pull
  script:
  - rustup component add clippy
  ...

lint:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - ui/node_modules/
    policy: pull
  image: node:20
  timeout: 10 minutes
  stage: lint
  script:
  - cd ui && npm ci && npm run lint || echo "No lint script configured"
  - npm run typecheck || echo "No typecheck script configured"

test:rust:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq libgtk-3-dev libwebkit2gtk-4.1-dev libayatana-appindicator3-dev librsvg2-dev
  timeout: 30 minutes
  stage: test
  needs:
  - build:frontend-dist
  script:
  - cd src-tauri && cargo test --all-targets

test:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - ui/node_modules/
  image: node:20
  timeout: 30 minutes
  stage: test
  script:
  - cd ui && npm ci && npm test || echo "No test script configured"

security:audit:
  timeout: 10 minutes
  stage: security
  cache:
    policy: pull
  script:
  - cargo install cargo-audit || true
  - cd src-tauri && cargo audit

security:npm-audit:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - ui/node_modules/
  image: node:20
  timeout: 10 minutes
  stage: security
  script:
  - cd ui && npm ci && npm audit --audit-level=moderate || true

feat: Add Emergency Broadcast configuration UI
  src-tauri/src/commands/emergency.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat: Add Tor Mode settings UI with bridge management
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/tor.rs
  src-tauri/src/lib.rs
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat: Add BLE exchange stub section to Exchange page
  ui/src/pages/Exchange.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

style: Fix Rust formatting in auth and tor commands
  src-tauri/src/commands/auth.rs
  src-tauri/src/commands/tor.rs
  ui/playwright-report/data/0358fc5c1698fc45b3713ea3f57671248e68af40.png
  ui/playwright-report/data/30f48a8f872fed84673f22bdc3c6ab42e1c549f5.png
  ui/playwright-report/data/342545e7f37a408a17f81ea1ce67abeb16a61cc1.webm
  ui/playwright-report/data/5cd2da33344d325c09dc6167bc86fe3c0be24bef.webm
  ui/playwright-report/data/6ab87ae966294ecbcdb94890eca0280fec2a1257.md
  ui/playwright-report/data/af6502eb1b9b9b8e4f659bdaaf3bd606664e7a0d.webm
  ui/playwright-report/data/bce3026593f56fa2338034b3e19f78ce3c26b3ce.webm
  ui/playwright-report/data/ca44f3415bfe11676f5a6b15317c758d6891570b.md
  ui/playwright-report/index.html
  ui/playwright-report/results.json
  ui/playwright-report/results.xml
  ui/test-results/.last-run.json
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/error-context.md
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/test-failed-1.png
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/video-1.webm
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/video.webm
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend

chore: Remove accidentally committed test artifacts
  ui/playwright-report/data/0358fc5c1698fc45b3713ea3f57671248e68af40.png
  ui/playwright-report/data/30f48a8f872fed84673f22bdc3c6ab42e1c549f5.png
  ui/playwright-report/data/342545e7f37a408a17f81ea1ce67abeb16a61cc1.webm
  ui/playwright-report/data/5cd2da33344d325c09dc6167bc86fe3c0be24bef.webm
  ui/playwright-report/data/6ab87ae966294ecbcdb94890eca0280fec2a1257.md
  ui/playwright-report/data/af6502eb1b9b9b8e4f659bdaaf3bd606664e7a0d.webm
  ui/playwright-report/data/bce3026593f56fa2338034b3e19f78ce3c26b3ce.webm
  ui/playwright-report/data/ca44f3415bfe11676f5a6b15317c758d6891570b.md
  ui/playwright-report/index.html
  ui/playwright-report/results.json
  ui/playwright-report/results.xml
  ui/test-results/.last-run.json
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/error-context.md
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/test-failed-1.png
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/video-1.webm
  ui/test-results/tests-accessibility-Access-3b65f-no-critical-a11y-violations-chromium/video.webm
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

test: Add Mobile Chrome VRT baseline snapshots
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-dark-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/contacts-empty-de-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/exchange-page-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-dark-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-de-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-empty-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/main-app-with-fields-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-dark-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-de-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-dark-Mobile-Chrome-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/setup-page-de-Mobile-Chrome-darwin.png
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

refactor: Use shared send_device_sync from vauchi-core
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Apply cargo fmt to sync.rs
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Add ARIA dialog attributes and fix keyboard accessibility
  ui/src/pages/Contacts.tsx
  ui/src/pages/Help.tsx
  ui/src/pages/Recovery.tsx
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

feat: Run sync in background thread to prevent UI freeze
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: Migrate desktop sync to async tokio-tungstenite
  src-tauri/Cargo.toml
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

fix: Resolve cargo fmt and clippy warnings for CI
  src-tauri/src/commands/sync.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

test: Add Playwright tests for Devices, Recovery, Help pages and GDPR section
  ui/e2e/fixtures/tauri-mock.ts
  ui/e2e/tests/devices.spec.ts
  ui/e2e/tests/help.spec.ts
  ui/e2e/tests/recovery.spec.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

fix: Remove unsafe-inline from CSP by using constructable stylesheets (#243)
  src-tauri/tauri.conf.json
  ui/src/services/themeService.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

fix: Pin native-tls <0.2.17 and update visual snapshots
  src-tauri/Cargo.toml
  ui/e2e/tests/visual.spec.ts-snapshots/exchange-page-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-dark-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-dark-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-de-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-de-visual-chromium-darwin.png
  ui/e2e/tests/visual.spec.ts-snapshots/settings-page-visual-chromium-darwin.png
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit

chore: Pin Rust toolchain to 1.93.1 for reproducible CI
  rust-toolchain.toml
Due: none

fix: Tighten WebView CSP with form-action and frame-ancestors
  src-tauri/tauri.conf.json
Due: build:frontend-dist, test:rust

test: Add consumer contract tests for vauchi-core API (PI-04)
  src-tauri/tests/contract_core_api_tests.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

ci: Add fail-fast DAG ordering to pipeline (PI-13)
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

feat: Add mutation testing CI jobs for Rust backend (PI-02)
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

chore: Add blocking accessibility test CI job (PI-12)
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

chore: Include test-quality CI template (PI-06, PI-14)
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

style: Format code and annotate zero-assertion tests
  src-tauri/tests/contract_core_api_tests.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Resolve critical accessibility violations in contacts and exchange pages
  ui/src/pages/Contacts.tsx
  ui/src/pages/Exchange.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

ci: Migrate desktop CI to self-hosted runners
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

chore: Enable desktop bundle for production builds
  src-tauri/tauri.conf.json
Due: build:frontend-dist, test:rust

style: Format UI source files with prettier
  ui/src/App.tsx
  ui/src/pages/Contacts.tsx
  ui/src/pages/Devices.tsx
  ui/src/pages/Exchange.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/Recovery.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/Setup.tsx
  ui/src/services/helpService.ts
  ui/src/services/i18nService.ts
  ui/src/services/validationService.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

fix: Resolve stylelint violations in app.css
  ui/.stylelintrc.json
  ui/src/styles/app.css
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend

chore: Add stylelint and htmlhint as dev dependencies
  ui/.stylelintrc.json
  ui/package-lock.json
  ui/package.json
  ui/yarn.lock
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:npm-audit

fix(ci): Prevent mutation:incremental timeout on large MRs
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

fix(ci): Fix npm cache, add Playwright caching, prefer-offline
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

fix(ci): Consolidate desktop!53 into pipeline speedup branch
  .gitlab-ci.yml
  ui/src/pages/Contacts.tsx
  ui/src/pages/Help.tsx
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

fix: Use glob for locale resources to exclude non-JSON files
  src-tauri/tauri.conf.json
Due: build:frontend-dist, test:rust

fix: Update desktop test locale path to sibling locales/ repo
  src-tauri/src/commands/aha.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Remove locale copies, add CI clone step, point at locales repo
  .gitignore
  .gitlab-ci.yml
  src-tauri/resources/locales/de.json
  src-tauri/resources/locales/en.json
  src-tauri/resources/locales/es.json
  src-tauri/resources/locales/fr.json
  src-tauri/tauri.conf.json
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

fix(ci): Make locales clone idempotent for cached workspaces
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, security:audit, security:npm-audit

Path conditions:
  build:frontend-dist: any of: ui/**/*, src-tauri/**/*, .gitlab-ci.yml
  lint:rust-format: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, .gitlab-ci.yml
  lint:rust-clippy: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, ui/**/*, .gitlab-ci.yml
  lint:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:rust: any of: src-tauri/**/*, ui/**/*, .gitlab-ci.yml
  test:frontend: any of: ui/**/*, .gitlab-ci.yml
  security:audit: any of: src-tauri/Cargo.toml, src-tauri/Cargo.lock, .gitlab-ci.yml
  security:npm-audit: any of: ui/package.json, ui/package-lock.json, .gitlab-ci.yml
