Repository vauchi/desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

Path conditions:
  build:frontend-dist: any of: ui/**/*, src-tauri/**/*, .gitlab-ci.yml
  lint:html: any of: ui/index.html, .gitlab-ci.yml
  lint:css: any of: ui/src/**/*.css, .gitlab-ci.yml
  lint:rust-format: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, .gitlab-ci.yml
  lint:rust-clippy: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, ui/**/*, .gitlab-ci.yml
  lint:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:rust: any of: src-tauri/**/*, ui/**/*, .gitlab-ci.yml
  test:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:visual-regression: any of: ui/**/*, .gitlab-ci.yml
  test:accessibility: any of: ui/**/*, .gitlab-ci.yml
  security:audit: any of: src-tauri/Cargo.toml, src-tauri/Cargo.lock, .gitlab-ci.yml
  security:npm-audit: any of: ui/package.json, ui/package-lock.json, .gitlab-ci.yml

chore: fix pre-existing prettier formatting in Delivery.tsx
  ui/src/pages/Delivery.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: convert geo: URIs to web maps URLs for desktop address actions
  src-tauri/src/commands/actions.rs
  src-tauri/src/lib.rs
  ui/src/pages/Contacts.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add social network picker to AddFieldDialog (SP-20)
  ui/src/pages/Home.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: slim CLAUDE.md — remove duplication, condense to essentials
  CLAUDE.md
Due: none

chore: move CLAUDE.md SPDX headers to REUSE.toml annotations
  CLAUDE.md
  REUSE.toml
Due: none

feat: add hidden contacts Tauri commands (SP-6)
  src-tauri/src/commands/contacts.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

chore: add npm cache, reduce mutation depth to 20
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: optimize CI pipeline — remove clippy gate, curl for quality scripts
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: remove sub-repo CLAUDE.md (consolidated to root .claude/rules/)
  CLAUDE.md
Due: none

fix: resolve 7 desktop accessibility issues (SP-11 Phase 1)
  ui/src/App.tsx
  ui/src/pages/Contacts.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/Setup.tsx
  ui/src/pages/SupportUs.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add Vitest with V8 coverage for SolidJS unit tests
  .gitignore
  ui/package.json
  ui/vitest.config.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:npm-audit

chore: update package-lock.json for vitest dependencies
  ui/package-lock.json
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:npm-audit

fix: exclude e2e/ from Vitest test discovery
  ui/vitest.config.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: D-C2 gate test HTTP server behind debug builds (SP-13₀)
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: D-C1 replace innerHTML QR rendering with Canvas (SP-13₀)
  src-tauri/src/commands/devices.rs
  ui/package-lock.json
  ui/package.json
  ui/src/components/QRCanvas.tsx
  ui/src/pages/Devices.tsx
  ui/yarn.lock
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:npm-audit

tidy: fix prettier formatting for D-C1 files
  ui/src/components/QRCanvas.tsx
  ui/src/pages/Devices.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

tidy: extract Settings.tsx interfaces into settings/types.ts
  ui/src/pages/Settings.tsx
  ui/src/pages/settings/index.ts
  ui/src/pages/settings/types.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: SP-6 add duress Tauri commands
  src-tauri/src/commands/duress.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: SP-20 wire social network dropdown to form submission
  src-tauri/Cargo.lock
  ui/src/pages/Home.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit

feat: add focus trap, focus restoration, and arrow key navigation (SP-11)
  ui/src/pages/Contacts.tsx
  ui/src/pages/Home.tsx
  ui/src/utils/focusTrap.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add live region announcements and Ctrl+N shortcut (SP-11)
  ui/src/pages/Contacts.tsx
  ui/src/pages/Home.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add test duress mode UI in Settings (SP-6)
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: fix prettier formatting
  ui/src/pages/Contacts.tsx
  ui/src/pages/Home.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: fix prettier formatting in focusTrap.ts
  ui/src/utils/focusTrap.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add loading indicator when opening contact fields (SP-12a)
  ui/src/pages/Contacts.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: replace emergency broadcast contact ID textarea with contact picker (SP-6)
  ui/src/pages/Settings.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add duress alert settings and decoy contact management UI (SP-6)
  src-tauri/src/commands/decoy.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  ui/src/pages/Settings.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: fix prettier formatting
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: wire duress mode to contact listing (SP-6)
  src-tauri/src/commands/auth.rs
  src-tauri/src/commands/contacts.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: add auth mode query, emergency broadcast send, and duress mode UI hiding (SP-6)
  src-tauri/src/commands/auth.rs
  src-tauri/src/commands/emergency.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: queue encrypted duress alerts on duress PIN authentication
  src-tauri/src/commands/auth.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: add lock screen with PIN entry for duress mode (SP-6)
  src-tauri/Cargo.lock
  ui/src/App.tsx
  ui/src/pages/Lock.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit

fix: correct broken CLAUDE.md link in README
  README.md
Due: none

fix: remove cross-repo CLAUDE.md link from README
  README.md
Due: none

feat: add confirmation dialog before emergency broadcast send (SP-6)
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

ci: add coverage jobs for Rust backend and frontend
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

feat: fix coverage regex and push metrics to Grafana
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: remove mutation:incremental, add JUnit reports, fix test:frontend artifacts
  .gitlab-ci.yml
  src-tauri/.config/nextest.toml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

tidy: format Settings.tsx with prettier
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

tidy: format groups E2E tests with prettier
  src-tauri/Cargo.lock
  ui/e2e/tests/groups.spec.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit
