Repository vauchi/desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

Path conditions:
  build:frontend-dist: any of: ui/**/*, src-tauri/**/*, .gitlab-ci.yml
  lint:rust-format: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, .gitlab-ci.yml
  lint:rust-clippy: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, ui/**/*, .gitlab-ci.yml
  lint:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:rust: any of: src-tauri/**/*, ui/**/*, .gitlab-ci.yml
  test:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:visual-regression: any of: ui/**/*, .gitlab-ci.yml
  test:accessibility: any of: ui/**/*, .gitlab-ci.yml
  security:audit: any of: src-tauri/Cargo.toml, src-tauri/Cargo.lock, .gitlab-ci.yml
  security:npm-audit: any of: ui/package.json, ui/package-lock.json, .gitlab-ci.yml

fix(ci): Use explicit local stylelint binary instead of npx
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Add npm ci before stylelint — npx needs node_modules on runner
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Merge lint:css into single command — cd persists between lines
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Use project-local stylelint to match config version
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

feat(ci): Add htmlhint and stylelint jobs
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Add lint:css npm script and use npm run in CI
  .gitlab-ci.yml
  ui/package.json
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Fold lint:css into lint:frontend — npm crashes on nell
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore(ci): Remove --mutant-limit from mutation:incremental
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: Remove stale advisory ignores from deny.toml
  deny.toml
Due: none

chore: Track Cargo.lock — applications should pin dependency versions
  .gitignore
  src-tauri/Cargo.lock
Due: build:frontend-dist, test:rust, security:audit

ci: Migrate all jobs from Docker to shell runners
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

ci: Fix quality job scripts for shell runner concurrency
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

ci: Route Node.js jobs to Linux, fix shallow file race
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

ci: Route all non-Rust jobs to Linux runner
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

ci: Mark Playwright test jobs as allow_failure
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Install Playwright system deps, make test jobs blocking
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Revert --with-deps, keep Playwright deps on runner
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(ci): Chain Playwright jobs to avoid port 1420 conflict
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: Add .worktrees/ to .gitignore
  .gitignore
Due: none

feat: add QR SVG generation command for device linking
  src-tauri/src/commands/devices.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: split device link confirmation into prepare/confirm/deny
  src-tauri/src/commands/devices.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: add responder confirmation code command
  src-tauri/src/commands/devices.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: add relay transport commands for device linking
  src-tauri/src/commands/devices.rs
  src-tauri/src/lib.rs
  src-tauri/src/relay.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

feat: replace device linking dialogs with state machine inline flow
  ui/src/pages/Devices.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add CSS styles for device linking flow
  ui/src/styles/app.css
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add multipart QR and offline exchange flow for device linking
  src-tauri/Cargo.lock
  src-tauri/src/commands/devices.rs
  src-tauri/src/lib.rs
  ui/src/pages/Devices.tsx
  ui/yarn.lock
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit

refactor: deprecate complete_device_link, run full lint cleanup
  src-tauri/src/commands/devices.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: address code review findings for device linking
  src-tauri/src/commands/devices.rs
  ui/src/pages/Devices.tsx
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix(ci): update shared template ref from deleted branch to main
  .gitlab-ci.yml
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix(lint): suppress solid/no-innerhtml for backend-generated SVGs
  ui/src/pages/Devices.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

test: update Playwright e2e tests for new device linking state machine
  ui/e2e/fixtures/tauri-mock.ts
  ui/e2e/tests/devices.spec.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix(ci): allow Playwright to reuse existing server on port 1420
  ui/playwright.config.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix: Add missing ARIA attributes and tabIndex to dialog components
  ui/src/pages/Contacts.tsx
  ui/src/pages/Devices.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: Add @scenario traceability annotations
  src-tauri/Cargo.lock
  src-tauri/src/commands/aha.rs
  src-tauri/src/commands/validation.rs
  src-tauri/src/state.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

test: Add tests for CommandError enum
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

refactor: Replace Result<_, String> with typed CommandError enum in all Tauri commands
  src-tauri/src/commands/actions.rs
  src-tauri/src/commands/auth.rs
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/card.rs
  src-tauri/src/commands/contacts.rs
  src-tauri/src/commands/content.rs
  src-tauri/src/commands/devices.rs
  src-tauri/src/commands/emergency.rs
  src-tauri/src/commands/exchange.rs
  src-tauri/src/commands/gdpr.rs
  src-tauri/src/commands/identity.rs
  src-tauri/src/commands/labels.rs
  src-tauri/src/commands/recovery.rs
  src-tauri/src/commands/sync.rs
  src-tauri/src/commands/tor.rs
  src-tauri/src/commands/validation.rs
  src-tauri/src/commands/visibility.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: Use CommandError::Device for join_device confirmation code error
  src-tauri/src/commands/devices.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust
