Repository vauchi/desktop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

build:frontend-dist:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: lint
  needs: []
  ...

lint:html:
  stage: lint
  tags:
  - self-hosted
  - node
  needs: []
  script:
  - htmlhint ui/index.html

lint:css:
  stage: lint
  tags:
  - self-hosted
  - node
  needs: []
  script:
  - cd ui && npm ci --prefer-offline && npm run lint:css

lint:rust-format:
  stage: lint
  needs: []
  script:
  - cd src-tauri && cargo fmt --all -- --check

lint:rust-clippy:
  cache:
    key:
      files:
      - src-tauri/Cargo.lock
      prefix: rust-${CI_JOB_NAME}
    fallback_keys:
    - rust-${CI_JOB_NAME}-${CI_DEFAULT_BRANCH}
    - rust-${CI_JOB_NAME}
    paths:
    - .cargo/bin/
    - .cargo/registry/index/
    - .cargo/registry/cache/
    - src-tauri/target/
    policy: pull
  stage: lint
  ...

lint:frontend:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
    policy: pull
  ...

test:rust:
  cache:
    key:
      files:
      - src-tauri/Cargo.lock
      prefix: rust-${CI_JOB_NAME}
    fallback_keys:
    - rust-${CI_JOB_NAME}-${CI_DEFAULT_BRANCH}
    - rust-${CI_JOB_NAME}
    paths:
    - .cargo/bin/
    - .cargo/registry/index/
    - .cargo/registry/cache/
    - src-tauri/target/
    policy: pull-push
  ...

test:frontend:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: test
  needs:
  ...

test:visual-regression:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: test
  needs:
  ...

test:accessibility:
  image: node:20
  tags:
  - docker
  variables:
    npm_config_cache: ${CI_PROJECT_DIR}/.npm
    PLAYWRIGHT_BROWSERS_PATH: ${CI_PROJECT_DIR}/.playwright
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    fallback_keys:
    - ${CI_DEFAULT_BRANCH}-node
    - node
    paths:
    - .npm/
    - .playwright/
  stage: test
  needs:
  ...

fix: add group mock handlers and fix exchange calls in E2E tests
  ui/e2e/fixtures/tauri-mock.ts
  ui/e2e/tests/groups.spec.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

test: add Playwright E2E test stubs for contact groups (SP-12a)
  ui/e2e/tests/groups.spec.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add contact groups UI with tab navigation (SP-12a)
  ui/src/pages/Contacts.tsx
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix: skip groups E2E stubs in CI until UI is built
  .gitlab-ci.yml
  ui/e2e/tests/groups.spec.ts
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: CI audit fixes — parallelize Playwright, fix npm audit, bump artifact expiry
  .gitlab-ci.yml
  ui/playwright.config.ts
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: run coverage jobs on scheduled pipeline
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: improve ARIA accessibility across desktop UI (SP-11)
  ui/src/App.tsx
  ui/src/components/QRCanvas.tsx
  ui/src/pages/Devices.tsx
  ui/src/pages/Exchange.tsx
  ui/src/pages/Lock.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add duress settings and emergency wipe pages (SP-6)
  ui/src/App.tsx
  ui/src/pages/DuressSettings.tsx
  ui/src/pages/EmergencyWipe.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/settings/types.ts
  ui/src/styles/app.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

docs: add JSDoc comments to undocumented desktop UI types
  ui/src/components/ValidationBadge.tsx
  ui/src/pages/settings/types.ts
  ui/src/services/helpService.ts
  ui/src/services/themeService.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix: handle new AhaMomentType variants in desktop aha commands
  src-tauri/Cargo.lock
  src-tauri/src/commands/aha.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust, security:audit

fix: extend build:frontend-dist rules and add missing AhaMomentType variants
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

tidy: format frontend files with prettier
  ui/src/components/QRCanvas.tsx
  ui/src/pages/Contacts.tsx
  ui/src/pages/Devices.tsx
  ui/src/pages/DuressSettings.tsx
  ui/src/pages/EmergencyWipe.tsx
  ui/src/pages/Exchange.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

feat: add onboarding wizard with 7-step flow (SP-21)
  ui/src/App.tsx
  ui/src/main.tsx
  ui/src/pages/onboarding/AddFieldsStep.tsx
  ui/src/pages/onboarding/BackupPromptStep.tsx
  ui/src/pages/onboarding/CreateIdentityStep.tsx
  ui/src/pages/onboarding/OnboardingWizard.tsx
  ui/src/pages/onboarding/PreviewCardStep.tsx
  ui/src/pages/onboarding/ReadyStep.tsx
  ui/src/pages/onboarding/SecurityStep.tsx
  ui/src/pages/onboarding/WelcomeStep.tsx
  ui/src/pages/onboarding/index.ts
  ui/src/styles/onboarding.css
Due: build:frontend-dist, lint:css, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

chore: update Cargo.lock for core v0.2.9
  src-tauri/Cargo.lock
Due: build:frontend-dist, test:rust, security:audit

feat: add SP-12a contact merge/duplicates UI
  src-tauri/Cargo.lock
  src-tauri/src/commands/contacts.rs
  src-tauri/src/lib.rs
  ui/src/App.tsx
  ui/src/pages/ContactDuplicates.tsx
  ui/src/pages/ContactMerge.tsx
  ui/src/pages/ContactSettings.tsx
  ui/src/pages/Contacts.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/settings/types.ts
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit

tidy: fix biome formatting on SP-12a pages
  ui/src/pages/ContactDuplicates.tsx
  ui/src/pages/ContactMerge.tsx
  ui/src/pages/ContactSettings.tsx
  ui/src/pages/EmergencyWipe.tsx
  ui/src/pages/Settings.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix: resolve ESLint errors, a11y violations, and update e2e tests
  src-tauri/Cargo.lock
  ui/e2e/fixtures/test-helpers.ts
  ui/src/pages/Contacts.tsx
  ui/src/pages/onboarding/AddFieldsStep.tsx
  ui/src/pages/onboarding/BackupPromptStep.tsx
  ui/src/pages/onboarding/CreateIdentityStep.tsx
  ui/src/pages/onboarding/OnboardingWizard.tsx
  ui/src/pages/onboarding/PreviewCardStep.tsx
  ui/src/pages/onboarding/ReadyStep.tsx
  ui/src/pages/onboarding/SecurityStep.tsx
  ui/src/pages/onboarding/WelcomeStep.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit

chore: bump vauchi-core dependency to v0.2.10
  src-tauri/Cargo.lock
  ui/e2e/fixtures/test-helpers.ts
  ui/e2e/tests/accessibility.spec.ts
  ui/e2e/tests/app.spec.ts
  ui/e2e/tests/visual.spec.ts
  ui/src/pages/ContactDuplicates.tsx
  ui/src/pages/ContactMerge.tsx
  ui/src/pages/ContactSettings.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/onboarding/AddFieldsStep.tsx
  ui/src/pages/onboarding/BackupPromptStep.tsx
  ui/src/pages/onboarding/CreateIdentityStep.tsx
  ui/src/pages/onboarding/OnboardingWizard.tsx
  ui/src/pages/onboarding/PreviewCardStep.tsx
  ui/src/pages/onboarding/ReadyStep.tsx
  ui/src/pages/onboarding/SecurityStep.tsx
  ui/src/pages/onboarding/WelcomeStep.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit

fix: add mutation progress monitor to nightly mutation testing
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: adopt shared CI templates for lint, coverage, security, mutation
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: override lint:rust-format script for src-tauri subdirectory
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

tidy: replace waitForTimeout with proper Playwright waiters (CC-06)
  ui/e2e/tests/visual.spec.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

ci: use CI_DEFAULT_BRANCH instead of hardcoded main
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: simplify quality jobs to tags-only override
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

chore: add release.yml template include for 3-tier versioning
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

feat: add auto-tag:version job for 3-tier versioning
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

feat: add dev/RC tag pipelines for 3-tier versioning
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

feat: add verify:upstream-prerelease job
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: add junit artifact reporting for frontend test jobs
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: use POSIX sed in core-freshness CI job
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: handle path-overridden Cargo.lock and auth in core-freshness
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: show prominent warning box when core dep is stale
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

fix: prevent pipefail crash when grep finds no git source
  .gitlab-ci.yml
Due: build:frontend-dist, lint:html, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility, security:audit, security:npm-audit

feat: add core-driven UI component library and workflow commands
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/workflow.rs
  src-tauri/src/lib.rs
  ui/src/components/core-ui/CardPreviewPanel.tsx
  ui/src/components/core-ui/ComponentRenderer.tsx
  ui/src/components/core-ui/FieldListPanel.tsx
  ui/src/components/core-ui/InfoPanelDisplay.tsx
  ui/src/components/core-ui/ScreenRenderer.tsx
  ui/src/components/core-ui/TextDisplay.tsx
  ui/src/components/core-ui/TextInputField.tsx
  ui/src/components/core-ui/ToggleListPanel.tsx
  ui/src/components/core-ui/index.ts
  ui/src/main.tsx
  ui/src/styles/core-ui.css
  ui/src/types/core-ui.ts
Due: build:frontend-dist, lint:css, lint:rust-format, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

fix: replace Mutex unwrap() with proper error handling in workflow commands
  src-tauri/src/commands/workflow.rs
Due: build:frontend-dist, lint:rust-format, lint:rust-clippy, test:rust

fix: add explicit group_id null in ShowHide toggle action
  ui/src/components/core-ui/FieldListPanel.tsx
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

tidy: fix Prettier formatting in core-ui components
  ui/src/components/core-ui/CardPreviewPanel.tsx
  ui/src/components/core-ui/FieldListPanel.tsx
  ui/src/components/core-ui/InfoPanelDisplay.tsx
  ui/src/components/core-ui/ScreenRenderer.tsx
  ui/src/types/core-ui.ts
Due: build:frontend-dist, lint:rust-clippy, lint:frontend, test:rust, test:frontend, test:visual-regression, test:accessibility

Path conditions:
  build:frontend-dist: any of: ui/**/*, src-tauri/**/*, .gitlab-ci.yml
  lint:html: any of: ui/index.html, .gitlab-ci.yml
  lint:css: any of: ui/src/**/*.css, .gitlab-ci.yml
  lint:rust-format: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, .gitlab-ci.yml
  lint:rust-clippy: any of: src-tauri/**/*.rs, src-tauri/Cargo.toml, ui/**/*, .gitlab-ci.yml
  lint:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:rust: any of: src-tauri/**/*, ui/**/*, .gitlab-ci.yml
  test:frontend: any of: ui/**/*, .gitlab-ci.yml
  test:visual-regression: any of: ui/**/*, .gitlab-ci.yml
  test:accessibility: any of: ui/**/*, .gitlab-ci.yml
  security:audit: any of: src-tauri/Cargo.toml, src-tauri/Cargo.lock, .gitlab-ci.yml
  security:npm-audit: any of: ui/package.json, ui/package-lock.json, .gitlab-ci.yml
